.page-cliente{
   background-image: radial-gradient(ellipse closest-side,rgba(235, 234, 236, 0.6), #c3c2c5), url(../../assets/img/carrusel/fondo_carrusel.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 60px 10px !important;
  }
#cont-logos{
 padding: 50px 0px 50px 0px;
   
    display: flex;
    align-items: center;
   justify-content: center;
   text-align: center;
 
}

.logo-cliente{
    margin: auto;
    width: 280px;
    height: 140px;
    background-color: rgba($color: $color-secundario, $alpha: 0.4) ;
    display: flex;
    align-items: center;
   justify-content: center;
   border-radius: 5px;
   filter: grayscale(80%);
   transition: filter 1s linear 1s;
   cursor: pointer;
}
.logo-cliente:hover{
   background-color: rgba($color: $coloriver-1-darker, $alpha: 0.4) ;
   filter: grayscale(0%);
}
.title-cliente {
text-align: center;
color:$color-secundario  !important;
text-transform: uppercase;
}