input[type="text"],input[type="password"],input[type="email"]{
    font-size: 16px;
    width: 80%;
    padding: 10px;
    border: none;
    background: none;
    
}
.input-contenedor{
margin-bottom: 20px;
background: #fff;
border: 1px solid #9b9b9b;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #9b9b9b;
}
p{
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.link{
    text-decoration: none;
    color:#ffF;

}
.link:hover{
    color: #ffc310;
}

.cont_formulario .form{
   background:rgba(0, 0, 0, 0.60);
    max-width: 450px;
    margin: auto;
    padding: 35px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

p{
    text-align: right;
}

  

  /*contacto*/
  .texto-area{
    width: 100%;
    background: #fff;
    border-radius: 30px;
    border: none;
    padding: 20px;
    
  }

  
/*charly*/
.select-fact{
    height: 40px;
    width: 80%;
    color:#6c757d;opacity:1;
    border: none !important;
    
    .nice-select {
       
        border-radius: 0px;
        height: 40px;
        background: #f9f9ff;
        padding-left: 45px;
        padding-right: 40px;
        width: 100%;
        .list {
            margin-top: 0;
          
            border-radius: 0px;
            box-shadow: none;
            width: 100%;
            padding: 10px 0 10px 0px;
            .option {
                font-weight: 300;
                @include transition();
                line-height: 28px;
                min-height: 28px;
                font-size: 12px;
                padding-left: 45px;
                &.selected {
                  
                    background: transparent;
                    outline: none;
                    padding: 5px 8px;

     
                }
                &:hover {
                    color: $primary;
                    background: transparent;
                    outline: none;
                }
                
            }
        }
    }
    .current {
        margin-right: 50px;
        font-weight: 300;
    }
    .nice-select::after {
        right: 20px;
        content:"\025be";
    }
}

 select:focus{ outline: none;}

