.title_facturados{
    background-color: rgba($color: $coloriver-1-darker, $alpha: 0.8);
    text-align: center; 
  
    color: $btn-text-color !important;
    font-size: 36px !important;
    border-radius: 5px;
 }
 