.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    height: 100vh!important;
   display: flex;
   width: 90% !important;
  margin-top: 0% !important;
 margin-right:-17px !important;
    .modal-content{
    display:         flex;
    flex-direction: column;
  justify-content: space-evenly;
    .modal-header{
     i{font-size: 30px;
    transition: all 0.2s ease-in !important;}
    }
    i:hover{
        color:$theme-color;
    }
    .body-carrito{
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7d7d7d;
    text-align: center;
        i{
            font-size: 30px;
        }
    }
   
    
    }
  }
 
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .modal-header {
    border-radius: 0;
    background-color: #f7f7f7;
    border-color: #d4d2d2;
    align-items: center;
    padding: 1.2rem;
  }
  
  .modal-content {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
  }
  
  .modal-backdrop {
    background-color: #000;
  }
  
 .vermas{
  .modal-content{
   
    .modal-header{
     i{font-size: 30px;
    transition: all 0.2s ease-in !important;}
    }
    i:hover{
        color:$theme-color;
    }
 }
}
  