
    <div class="wrapper-carousel">
        <div class="head "><span>
                <div head="" class="carousel-header">
                    <h3 class="heading">Ofertas Especiales</h3>
                </div>
            </span>
            <!---->
            <!---->
        </div>
        <!---->
        <div class="content-carousel">
            <div class="elements">
                <ul content="" class="carousel-banners owl-carousel">
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8744_1607880604294.png?e=webp"
                                alt="SANOFI_VACUNATEFAM_FARMA" title="SANOFI_VACUNATEFAM_FARMA" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8789_1608236296174.png?e=webp"
                                alt="Durex" title="Durex" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8600_1606832558268.jpg?e=webp"
                                alt="UNILABS_AWARENESS_FARMACIA" title="UNILABS_AWARENESS_FARMACIA"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8812_1608657461199.jpg?e=webp"
                                alt="COOLMASK_PACKSDICIEMBRE_FARMACIA" title="COOLMASK_PACKSDICIEMBRE_FARMACIA"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8787_1608236184446.png?e=webp"
                                alt="Durex" title="Durex" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8586_1606829070882.png?e=webp"
                                alt="Durex" title="Durex" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8846_1609165334033.jpg?e=webp"
                                alt="SANOFI_VACUNATEFIEBRE_FARMA" title="SANOFI_VACUNATEFIEBRE_FARMA"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8763_1608130486560.jpg?e=webp"
                                alt="BAYER_REDOXON_FARMACIAPM" title="BAYER_REDOXON_FARMACIAPM" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8351_1605020045643.png?e=webp"
                                alt=" BAYER_DULCOLAX_FARMACIAS" title=" BAYER_DULCOLAX_FARMACIAS"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8352_1605020413670.png?e=webp"
                                alt="SANOFI_ETEROGERMINA_FARMACIAS" title="SANOFI_ETEROGERMINA_FARMACIAS"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8353_1605020535859.jpg?e=webp"
                                alt="SANOFI_BUSCAPINA_FARMACIAS" title="SANOFI_BUSCAPINA_FARMACIAS"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8354_1605021186718.jpg?e=webp"
                                alt="ABBOTT_SIMILAC_FARMACIAS" title="ABBOTT_SIMILAC_FARMACIAS" class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8487_1605910844741.png?e=webp"
                                alt="MEDIFARMA_ACNOMEL_FARMACIAPM" title="MEDIFARMA_ACNOMEL_FARMACIAPM"
                                class="  ng-lazyloaded">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8489_1605910948734.jpg?e=webp"
                                alt="MEDIFARMA_ATA_FARMACIAPM" title="MEDIFARMA_ATA_FARMACIAPM" class=" ng-lazyloading">
                        </a></li>
                    <li class="banner-container "><a rel="nofollow" class="banner-link"
                            href="/tiendas/tipo/farmacia">
                            <img src="https://images.rappi.pe/mobile_promotions/store_8563_1606764368694.png?e=webp"
                                alt="MEDIFARMA_DRZAIDMANPM_FARMACIA" title="MEDIFARMA_DRZAIDMANPM_FARMACIA"
                                class=" ng-lazyloading">
                        </a></li>
                    <!---->
                </ul>
            </div>
            
            <!---->
            <!---->
        </div>
    </div>
   
