<div class="page-header ">
    <h1> Tiendas Especializadas </h1>
    <p class="subtitle"> Belleza, salud y bienestar </p>

    <div class="desktop-container">
        <p class="title"> Filtrar por: </p>
        <ul class="list-cont">
            <li class="list" data-filter="All">
                <button class="btn  outline">
                    Todos
                </button>

            </li>
            <li class="list" data-filter="farmacias">
                <button class="btn  outline">
                    Farmacias
                </button>

            </li>
            <li class="list" data-filter="bebes-ninos">
                <button class="btn  outline">
                    Bebés y niños
                </button>

            </li>
            <li class="list" data-filter="tiendas-especialidas">
                <button class="btn  outline selected">
                    Tiendas Especializadas
                </button>

            </li>
            <li class="list" data-filter="servicios-medicos">
                <button class="btn  outline">
                    Servicios Médicos
                </button>

            </li>
            <li class="list" data-filter="vitaminas-suplementos">
                <button class="btn outline ">
                    Vitaminas y Suplementos
                </button>

            </li>
        </ul>
    </div>
    <div class="mobile-container" data-filter="filtros">

        <button class="btn  selected shadow"><i class="iconf-filter "></i>
            Filtros
        </button>

    </div>

</div>
<ul class="items">
    <li class="itembox farmacias">
        <a class="item-container" href="/tiendas/boticas-salud">
            <div class="logo-container">

                <div style="background-color: rgb(4, 147, 218);">
                    <img src="https://images.rappi.pe/marketplace/boticas_salud_1609292012047.jpg?d=200x200&amp;e=webp"
                        alt="Boticas Y Salud Miraflores 5 Larco" title="Boticas Y Salud Miraflores 5 Larco" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Boticas Y Salud Miraflores 5 Larco</h2>
                <h3 class="store-group "> Farmacias </h3>
                <p class="eta-container ">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a>
    </li>
    <li class="itembox bebes-ninos"><a class="item-container" href="/tiendas/boticasperu-farmacia">
            <div class="logo-container">

                <div style="background-color: rgb(45, 92, 171);"><img
                        src="https://images.rappi.pe/marketplace/boticasperu_home-1584578441.png?d=200x200&amp;e=webp"
                        alt="Boticas Peru Benavides 2" title="Boticas Peru Benavides 2" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Boticas Peru Benavides 2</h2>
                <h3 class="store-group "> Farmacias </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>36 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox bebes-ninos "><a class="item-container" href="/tiendas/gas-station-salud">
            <div class="logo-container">

                <div style="background-color: rgb(246, 134, 16);"><img
                        src="https://images.rappi.pe/marketplace/gas_station_salud_1607370168362.jpg?d=200x200&amp;e=webp"
                        alt="Listo! Salud Armendariz" title="Listo! Salud Armendariz" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Listo! Salud Armendariz</h2>
                <h3 class="store-group "> Farmacias </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox farmacias"><a class="item-container" href="/tiendas/americasalud">
            <div class="logo-container">

                <div style="background-color: rgb(5, 5, 5);"><img
                        src="https://images.rappi.pe/marketplace/americasalud_1609285459601.jpg?d=200x200&amp;e=webp"
                        alt="America Salud - Miraflores" title="America Salud - Miraflores" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">America Salud - Miraflores</h2>
                <h3 class="store-group "> Farmacias </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>39 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox tiendas-especialidas "><a class="item-container" href="/tiendas/boticasperu-huggies">
            <div class="logo-container">

                <div style="background-color: rgb(251, 251, 251);"><img
                        src="https://images.rappi.pe/marketplace/boticasperu_huggies_1609293231728.jpg?d=200x200&amp;e=webp"
                        alt="Boticas Peru Huggies - Benavides 2" title="Boticas Peru Huggies - Benavides 2" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Boticas Peru Huggies - Benavides 2</h2>
                <h3 class="store-group "> Bebés y niños </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>35 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox tiendas-especialidas "><a class="item-container" href="/tiendas/boticas-salud-similac">
            <div class="logo-container">

                <div style="background-color: rgb(251, 251, 250);"><img
                        src="https://images.rappi.pe/marketplace/boticas_salud_similac_1609292953984.jpg?d=200x200&amp;e=webp"
                        alt="Similac - Miraflores 5 Larco" title="Similac - Miraflores 5 Larco" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Similac - Miraflores 5 Larco</h2>
                <h3 class="store-group "> Tiendas Especializadas </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox vitaminas-suplementos "><a class="item-container" href="/tiendas/nfecare-farmacia">
            <div class="logo-container">

                <div style="background-color: rgb(4, 76, 108);"><img
                        src="https://images.rappi.pe/marketplace/nfecare_farmacia_1609349286826.jpg?d=200x200&amp;e=webp"
                        alt="NFE Care Surquillo" title="NFE Care Surquillo" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">NFE Care Surquillo</h2>
                <h3 class="store-group "> Tiendas Especializadas </h3>
                <p class="eta-container">
                    <i class="iconf-calendar"></i>Hoy, 7pm
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox vitaminas-suplementos"><a class="item-container" href="/tiendas/boticasperu-enfabebe">
            <div class="logo-container">

                <div style="background-color: rgb(251, 242, 226);"><img
                        src="https://images.rappi.pe/marketplace/boticasperu_enfabebe_1609293006155.jpg?d=200x200&amp;e=webp"
                        alt="Enfabebe - Benavides 2" title="Enfabebe - Benavides 2" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Enfabebe - Benavides 2</h2>
                <h3 class="store-group "> Tiendas Especializadas </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>37 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox tiendas-especialidas "><a class="item-container" href="/tiendas/tambo-durex-farmacia">
            <div class="logo-container">

                <div style="background-color: rgb(4, 93, 165);"><img
                        src="https://images.rappi.pe/marketplace/tambo_durex_farmacia_1609385824287.jpg?d=200x200&amp;e=webp"
                        alt="Tambo Corbeta" title="Tambo Corbeta" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Tambo Corbeta</h2>
                <h3 class="store-group "> Tiendas Especializadas </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container">
                <img src="https://images.rappi.com/web/chevron-right.svg?e=webp">
            </div>
        </a></li>
    <li class="itembox tiendas-especialidas"><a class="item-container" href="/tiendas/unilabs-home">
            <div class="logo-container">

                <div style="background-color: rgb(251, 251, 250);"><img
                        src="https://images.rappi.pe/marketplace/unilabs_home_1609388010617.jpg?d=200x200&amp;e=webp"
                        alt="Unilabs" title="Unilabs" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Unilabs</h2>
                <h3 class="store-group "> Servicios Médicos </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox servicios-medicos "><a class="item-container" href="/tiendas/bestservice">
            <div class="logo-container">

                <div style="background-color: rgb(251, 251, 251);"><img
                        src="https://images.rappi.pe/marketplace/bestservice-1596240298.png?d=200x200&amp;e=webp"
                        alt="Best Service Vacunas San Isidro" title="Best Service Vacunas San Isidro" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Best Service Vacunas San Isidro</h2>
                <h3 class="store-group "> Servicios Médicos </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox servicios-medicos"><a class="item-container" href="/tiendas/boticas-salud-glucerna">
            <div class="logo-container">

                <div style="background-color: rgb(251, 251, 250);"><img
                        src="https://images.rappi.pe/marketplace/boticas_salud_glucerna_1608298108866.jpg?d=200x200&amp;e=webp"
                        alt="Glucerna Miraflores 5 Larco" title="Glucerna Miraflores 5 Larco" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Glucerna Miraflores 5 Larco</h2>
                <h3 class="store-group "> Vitaminas y Suplementos </h3>
                <p class="eta-container">
                    <i class="spk-clock"></i>30 mins
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <li class="itembox servicios-medicos"><a class="item-container" href="/tiendas/naturalcenter-farmacia">
            <div class="logo-container">

                <div style="background-color: rgb(245, 248, 245);"><img
                        src="https://images.rappi.pe/marketplace/naturalcenter_farmacia_1609347872042.jpg?d=200x200&amp;e=webp"
                        alt="Natural Center Wong Benavides" title="Natural Center Wong Benavides" class="">
                    <!---->
                </div>

            </div>
            <div class="info-container">
                <h2 class="store-name">Natural Center Wong Benavides</h2>
                <h3 class="store-group "> Vitaminas y Suplementos </h3>
                <p class="eta-container">
                    <i class="iconf-calendar"></i>Mié, 11am
                </p>
            </div>
            <div class="arrow-container"><img src="https://images.rappi.com/web/chevron-right.svg?e=webp"></div>
        </a></li>
    <!---->
</ul>