<div class="we-create-area">
    <div class="container">
        <h2 class="title-page type2 ">NUESTROS VALORES


        </h2>
    </div>
</div>
<div class="we-create-area ">
    <div class="container">
        <div class="valores">
            <div class="cont-valores inten1">
                <div class="cont-valores-img">

                    <img src="assets/img/facturador.jpg" alt="">
                </div>
                <div class="cont-valores-text">
                    <h4> COMPROMISO </h4>
                    <p>
                        Buscamos el cumplimiento de los acuerdos y obligaciones con nuestros colaboradores y en especial
                        con nuestros clientes, logrando así el logro de los objetivos planteados.

                    </p>
                </div>

            </div>

            <div class="cont-valores inten2">
                <div class="cont-valores-img">

                    <img src="assets/img/facturador.jpg" alt="">
                </div>
                <div class="cont-valores-text">

                    <h4> TRABAJO EN EQUIPO </h4>
                    <p>
                        Valoramos las ideas del equipo, considerando las opiniones e iniciativas de cada uno de nuestros
                        colaboradores para el logro de nuestros objetivos.
                    </p>


                </div>

            </div>
            <div class="cont-valores inten3">
                <div class="cont-valores-img">

                    <img src="assets/img/facturador.jpg" alt="">
                </div>
                <div class="cont-valores-text">

                    <h4> INTEGRIDAD
                    </h4>
                    <p>
                        Trabajamos con honestidad y honradez, haciéndonos cargo con firmeza de nuestras acciones.

                    </p>

                </div>



            </div>
            <div class="cont-valores inten4">
                <div class="cont-valores-img">

                    <img src="assets/img/facturador.jpg" alt="">
                </div>
                <div class="cont-valores-text">

                    <h4> TRANSPARENCIA
                    </h4>
                    <p>
                        Brindamos coherencia en nuestras acciones y pensamientos, permitiendo la accesibilidad de la
                        información que se necesita, siendo claros, veraces y continuos para con nuestros colaboradores
                        y clientes.
                    </p>

                </div>



            </div>
            <div class="cont-valores inten5">

            </div>
            <div class="cont-valores inten6">
                <div class="cont-valores-img">

                    <img src="assets/img/facturador.jpg" alt="">
                </div>
                <div class="cont-valores-text">

                    <h4> INNOVACIÓN </h4>
                    <p>
                        Desarrollamos soluciones tecnológicas, mejorando continuamente en búsqueda de la excelencia.


                    </p>

                </div>



            </div>
        </div>
    </div>
</div>