<div class="we-create-area">
  <div class="container">
    <h2 class="title-page type2 ">QUIENES SOMOS

    </h2>
  </div>
</div>
<div class="we-create-area ">
  <div class="container">
    <div class="nosotros">
      <div class="nosotros-img">

        <img src="assets/img/vision.jpg" alt="">
      </div>
      <div class="nosotros-text nosotros-mision">
        <h4 > VISIÓN </h4>
        <p>
          Para el 2025, ser una empresa reconocida como socio tecnológico por nuestros clientes, brindando calidad de
          servicio en soluciones empresariales, sobre la base de nuestra responsabilidad, transparencia e integridad,
          manteniendo así el compromiso con nuestra sociedad.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="we-create-area ">
  <div class="container">
    <div class="nosotros">
      <div class="nosotros-img">

        <img src="assets/img/mision.jpg" alt="">
      </div>
      <div class=" nosotros-text nosotros-vision">
        <h4>MISIÓN
</h4>
        <p>
          Somos un equipo de profesionales dedicados al desarrollo y manejo de soluciones empresariales a través del uso
          de tecnologías a medida de las necesidades de nuestros clientes, comprometidos a mejorar e impulsar la gestión
          de las organizaciones, con el objetivo de incrementar su competitividad y productividad, contribuyendo así al
          desarrollo de nuestra sociedad.
        </p>
      </div>
    </div>
  </div>
</div>