<div class="modal" id="flyoutmodal" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog fadeInRight animated ml-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">May the Force be with you</h5>
       
        <i class="spk-cancel-circle" data-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body body-carrito"  id="contCarrito"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal ver mas-->
<div class="modal fade " id="mainmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog-scrollablea modal-dialog modal-lg vermas" role="document">
		<div class="modal-content" id="contModal">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
			 <i class="spk-cancel-circle" data-dismiss="modal" aria-label="Close"></i>
			</div>
			<div class="cont-modal" >

			</div>

		</div>
	</div>
</div>