<!-- Footer Start-->
<footer id="footer" class="footer">
    <div class="container">
        <div id="head-footer" class="head-footer">
            <div>
                <div class="cont-img"> <i class="spk-time-2"><span class="path1"></span><span class="path2"></span><span
                            class="path3"></span><span class="path4"></span><span class="path5"></span><span
                            class="path6"></span><span class="path7"></span><span class="path8"></span><span
                            class="path9"></span><span class="path10"></span><span class="path11"></span><span
                            class="path12"></span><span class="path13"></span><span class="path14"></span><span
                            class="path15"></span><span class="path16"></span><span class="path17"></span><span
                            class="path18"></span><span class="path19"></span><span class="path20"></span><span
                            class="path21"></span><span class="path22"></span><span class="path23"></span><span
                            class="path24"></span><span class="path25"></span><span class="path26"></span><span
                            class="path27"></span><span class="path28"></span><span class="path29"></span><span
                            class="path30"></span><span class="path31"></span><span class="path32"></span><span
                            class="path33"></span><span class="path34"></span><span class="path35"></span><span
                            class="path36"></span><span class="path37"></span><span class="path38"></span><span
                            class="path39"></span><span class="path40"></span><span class="path41"></span><span
                            class="path42"></span><span class="path43"></span><span class="path44"></span><span
                            class="path45"></span><span class="path46"></span><span class="path47"></span><span
                            class="path48"></span><span class="path49"></span><span class="path50"></span><span
                            class="path51"></span><span class="path52"></span><span class="path53"></span><span
                            class="path54"></span><span class="path55"></span><span class="path56"></span><span
                            class="path57"></span><span class="path58"></span><span class="path59"></span><span
                            class="path60"></span><span class="path61"></span><span class="path62"></span><span
                            class="path63"></span><span class="path64"></span><span class="path65"></span><span
                            class="path66"></span><span class="path67"></span><span class="path68"></span><span
                            class="path69"></span><span class="path70"></span><span class="path71"></span><span
                            class="path72"></span><span class="path73"></span><span class="path74"></span><span
                            class="path75"></span><span class="path76"></span><span class="path77"></span><span
                            class="path78"></span><span class="path79"></span><span class="path80"></span><span
                            class="path81"></span></i></div>
                <div class="cont-text"><span>Ahorra tiempo</span>
                    <p>Recibe tu mercado en menos de 1 hora</p>
                </div>
            </div>
            <div>
                <div class="cont-img"> <i class="spk-expert"><span class="path1"></span><span class="path2"></span><span
                            class="path3"></span></i></div>
                <div class="cont-text"><span>En manos expertas</span>
                    <p>Un shopper selecciona tus productos con amor</p>
                </div>
            </div>
            <div>
                <div class="cont-img"><i class="spk-calida02"></i></div>
                <div class="cont-text"><span>Calidad 100%</span>
                    <p>Si no te gusta el estado de un producto, ¡no lo pagas!</p>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="footer-cont">
        <div id="info-footer" class="container info-footer">
            <div>
                <h6>Categorías</h6>
                <ul class="list-footer">
                    <li class="ng-star-inserted"><a href="/restaurantes"
                            class="ng-star-inserted"><span>Restaurantes</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/market"
                            class="ng-star-inserted"><span>Supermercados</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/rappimall-parent"
                            class="ng-star-inserted"><span>Rappi mall</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/licores"
                            class="ng-star-inserted"><span>Licores</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/wong-boton"
                            class="ng-star-inserted"><span>Wong</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/tecnologia"
                            class="ng-star-inserted"><span>Tecnología</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/moda" class="ng-star-inserted"><span>Moda

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/juguetes"
                            class="ng-star-inserted"><span>Juguetería</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a target="_blank"
                            href="https://cocinalab.com/p/rappi/?affcode=405057_ietfsz95"
                            class="ng-star-inserted"><span>Cocina lab</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/sports"
                            class="ng-star-inserted"><span>Deportes</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/regalos"
                            class="ng-star-inserted"><span>Regalos</span></a>

                    </li>
                    <!---->
                    <li class="ng-star-inserted"><a href="/tiendas/tipo/libreria"
                            class="ng-star-inserted"><span>Librería</span></a>

                    </li>

                </ul>
            </div>
            <div class="center-content">
                <h6>Información de interés</h6>
                <ul class="list-footer footer-links">
                    <li><a rel="nofollow" target="_blank"
                            href="https://legal.rappi.com/peru/terminos-y-condiciones-rappi/"><span> Términos y
                                condiciones </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="https://soyrappi.com/?utm_source=appuser&amp;utm_medium=applk&amp;utm_campaign=rt"><span>
                                Quiero ser un Rappi </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank" href="https://www.rappi.com/jobs/"><span> Trabaja con nosotros
                            </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank" href="https://surveys.rappi.com/inbound"><span> Registra tu
                                restaurante </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank" href="https://one.rappi.com/"><span> Haz crecer tu marca -
                                RappiOne </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="http://librodereclamacionesperu.com/10524305.html"><span> Libro de Reclamaciones
                            </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="https://legal.rappi.com/peru/politica-de-privacidad-de-rappi-y-tratamiento-de-datos-personales/"><span>
                                Politica de Tratamiento de Datos Personales </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="https://legal.rappi.com/peru/como-puedo-ejercer-mis-derechos-arco/"><span> Derechos
                                Arco </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank" href="https://partners.rappi.com/"><span> Portal Partners
                                Restaurantes </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="https://legal.rappi.com/peru/politica-de-cookies/"><span> Politica de Cookies
                            </span></a></li>
                    <!---->
                    <li><a rel="nofollow" target="_blank"
                            href="https://rappipay-peru.kustomer.help/en_us/contact/robo-extravio-ByA45_vrw"><span>
                                RappiBank: Reporte por extravío de celular </span></a></li>
                    <!---->
                    <!---->
                </ul>
            </div>
            <div class="app-links">
                <h6>Descarga la App</h6>
                <div class="cont-apps"><a target="_blank" rel="nofollow"
                        href="https://itunes.apple.com/co/app/rappi/id984044296?mt=8"><img alt="play-store-img"
                            class="ios-img"
                            src="https://images.rappi.com/web/apple-store_app-store-es.svg?e=webp"></a><a
                        target="_blank" rel="nofollow"
                        href="https://play.google.com/store/apps/details?id=com.grability.rappi"><img
                            alt="play-store-img" class="android-img"
                            src="https://images.rappi.com/web/play-store_play-store-es.png?e=webp"></a></div>
                <h6 class="follow">Síguenos</h6>
                <ul class="redes">
                    <li>
                        <a target="_blank" rel="nofollow" class="facebook" href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" class="twitter" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li><a target="_blank" rel="nofollow" class="instagram"
                            href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="partners-info"><a target="_blank" rel="nofollow"
                        href="https://www.truora.com/?utm_source=rappi&amp;utm_medium=home_link&amp;utm_campaign=bottom_image"><img
                            alt="truora-img" class="truora-img"
                            src="https://images.rappi.com/web/truora.png?e=webp"></a>
                    <!---->
                    <!---->
                    <!---->
                </div>
            </div>
        </div>
        <div class="footer-cont">
            <div id="firm-footer" class="firm-footer">
                <p> © 2020 Rappi
                    <!---->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->