<div class="we-create-area ">
  <div class="container">
    <div class="row " id="contenido-comercial">
      {{!-- <div class="col-12">
         <h1 class="title-page type2">SPK COMERCIAL</h1>
      </div> --}}
      <div class="cont-texto">
        <div class="comercial-page " data-animation="fadeInLeft" data-delay="0.1s">

          <h1 data-animation="fadeInRight" data-delay=".4s" class="title_comercial">SPK COMERCIAL

          </h1>
          <p data-animation="fadeInRight" data-delay=".6s" class="cont-pag">
            Ideal para la automatización de procesos de venta, compras y facturación. Emite los estados financieros
            actualizados. permite el registro de compras, análisis de inventarios, Control del stock, emisión de guías
            de remisión, manejo de kardex, control de inventarios, entre otros


          </p>

          <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn-comercial">Ver mas</a>
            </div>


        </div>
      </div>

      <div class="cont-imagen">

        <div class="we-create-img img-right">
          <img src="assets/img/comercial.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
<div class="we-create-area "  id="restobar">
  <div class="container">
    <div class="row " id="contenido-restobar">
      {{!-- <div class="col-12">
         <h1 class="title-page type2">SPK COMERCIAL</h1>
      </div> --}}
      <div class="cont-texto">
        <div class="comercial-page " data-animation="fadeInLeft" data-delay="0.1s">

          <h1 data-animation="fadeInRight" data-delay=".4s" class="title_comercial">SPK RESTOBAR

          </h1>
          <p data-animation="fadeInRight" data-delay=".6s" class="cont-pag">
            Software especializado en el sector restaurantes y bares para contar con un control operativo y administrativo total de su restaurante/Bar. Interconectando sus pedidos , desde una simple comanda para cocina hasta diferentes áreas de impresión de pedidos


          </p>

          <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn-comercial">Ver mas</a>
            </div>


        </div>
      </div>

      <div class="cont-imagen ">

        <div class="we-create-img img-lef ">
          <img src="assets/img/restobar.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
