<div class="we-create-area ">
  <div class="container">
    <div class="row" id="contenido-factura">
      {{!-- <div class="col-12">
         <h1 class="title-page type2">SOLUCIONES</h1>
      </div> --}}
      <div class="cont-imagen">
        <div class="we-create-img img-lef">
          <img src="assets/img/facturador.jpg" alt="">
        </div>
      </div>
      <div class="cont-texto">
        <div class="facturador-page  " data-animation="fadeInLeft" data-delay="0.1s">

          <h1  class="title_facturados animate__animated animate__bounce">SPK FACTURADO
          </h1>
          <p data-animation="fadeInRight" data-delay=".6s" class="cont-pag">
            Trabajamos como Proveedor de Servicios Electrónicos (PSE) acreditados por SUNAT,
            permitiendo
            la emisión de comprobantes de pago de manera electrónica, como facturas, boletas,
            retenciones y percepciones.

          </p>
            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn-slider btn-sm">Ver mas</a>
             </div>

        </div>

      </div>
      <div class="cont-fact-pie">
        <div class="cont_valores">

          <button class="pulse2 btn-valor">Rapidez</button>
          <button class="pulse2 btn-valor">Seguridad</button>
          <button class="pulse2 btn-valor">Privacidad</button>
          <button class="pulse2 btn-valor">Soporte</button>
          <button class="pulse2 btn-valor">Asesoria</button>
          <button class="pulse2 btn-valor">Confiabilidad</button>
        </div>
      </div>

    </div>
  </div>
</div>
