
<div class="we-create-area " id="hoteleria">
  <div class="container">
    <div class="row" id="contenido-comercial">
     
      <div class="cont-texto">
  <div class="comercial-page  " data-animation="fadeInLeft" data-delay="0.1s">

          <h1 data-animation="fadeInRight" data-delay=".4s" class="title_comercial">SPK HOTELERIA

          </h1>
          <p data-animation="fadeInRight" data-delay=".6s" class="cont-pag">
            Software de gestión para hoteles y cadenas hoteleras que le permite controlar todas las áreas de gestión de
            su establecimiento de forma totalmente integrada, desde la recepción hasta la gestión financiera, almacenes,
            CRM, central de compras, salas y eventos, business intelligence, soluciones de movilidad, etc.


          </p>

          <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
            <a href="industries.html" class="btn hero-btn-slider btn-sm">Ver mas</a>
          </div>


        </div>
        
      </div>

      <div class="cont-imagen">
      <div class="we-create-img img-right">
          <img src="assets/img/hoteleria.jpg" alt="">
        </div>
      </div>

     
    </div>
  </div>
</div>

<div class="we-create-area " >
  <div class="container">
    <div class="row" id="contenido-factura">
      {{!-- <div class="col-12">
         <h1 class="title-page type2">SPK COMERCIAL</h1>
      </div> --}}
      <div class="cont-imagen">
         <div class="we-create-img img-lef">
          <img src="assets/img/transporte.jpg" alt="">
        </div>
      </div>

      <div class="cont-texto">

       
        <div class="comercial-page " data-animation="fadeInLeft" data-delay="0.1s">

          <h1 data-animation="fadeInRight" data-delay=".4s" class="title_comercial">SPK TRANSPORTE

          </h1>
          <p data-animation="fadeInRight" data-delay=".6s" class="cont-pag">
            Un software revolucionario y radical dirigido a facilitar el trabajo a las empresas y autónomos del sector
            de los transportes. Te ayudamos a que tengas el control íntegro de todos tus procesos en el sector de
            transporte.


          </p>

          <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
            <a href="industries.html" class="btn hero-btn-slider btn-sm">Ver mas</a>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
