@font-face {
  font-family: 'iconospk';
  src:  url('../fonts/iconospk.eot?g6phd9');
  src:  url('../fonts/iconospk.eot?g6phd9#iefix') format('embedded-opentype'),
    url('../fonts/iconospk.ttf?g6phd9') format('truetype'),
    url('../fonts/iconospk.woff?g6phd9') format('woff'),
    url('../fonts/iconospk.svg?g6phd9#iconospk') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="spk-"], [class*=" spk-"] {   
  font-family: 'iconospk';
  speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


.spk-logo-color .path1:before {
  content: "\e900";
  color: rgb(252, 201, 20);
}
.spk-logo-color .path2:before {
  content: "\e901";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path3:before {
  content: "\e902";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path4:before {
  content: "\e903";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path5:before {
  content: "\e904";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path6:before {
  content: "\e905";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path7:before {
  content: "\e906";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path8:before {
  content: "\e907";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path9:before {
  content: "\e908";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path10:before {
  content: "\e909";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path11:before {
  content: "\e90a";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path12:before {
  content: "\e90b";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path13:before {
  content: "\e90c";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path14:before {
  content: "\eb01";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path15:before {
  content: "\eb02";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path16:before {
  content: "\eb03";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path17:before {
  content: "\eb04";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path18:before {
  content: "\eb05";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path19:before {
  content: "\eb06";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path20:before {
  content: "\eb07";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path21:before {
  content: "\eb08";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path22:before {
  content: "\eb09";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path23:before {
  content: "\eb0a";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path24:before {
  content: "\eb0b";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-logo-color .path25:before {
  content: "\eb0c";
  margin-left: -1.9619140625em;
  color: rgb(253, 253, 253);
}
.spk-logo-color .path26:before {
  content: "\eb0d";
  margin-left: -1.9619140625em;
  color: rgb(135, 135, 135);
}
.spk-calida02:before {
  content: "\eb0e";
}
.spk-time-2 .path1:before {
  content: "\eb0f";
  color: rgb(71, 71, 64);
}
.spk-time-2 .path2:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path3:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path4:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path5:before {
  content: "\eb13";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path6:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path7:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path8:before {
  content: "\eb16";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path9:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path10:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path11:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path12:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path13:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path14:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path15:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path16:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path17:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path18:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path19:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path20:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path21:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path22:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path23:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path24:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path25:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path26:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path27:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path28:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path29:before {
  content: "\eb2b";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path30:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path31:before {
  content: "\eb2d";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path32:before {
  content: "\eb2e";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path33:before {
  content: "\eb2f";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path34:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path35:before {
  content: "\eb31";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path36:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path37:before {
  content: "\eb33";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path38:before {
  content: "\eb34";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path39:before {
  content: "\eb35";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path40:before {
  content: "\eb36";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path41:before {
  content: "\eb37";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path42:before {
  content: "\eb38";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path43:before {
  content: "\eb39";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path44:before {
  content: "\eb3a";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path45:before {
  content: "\eb3b";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path46:before {
  content: "\eb3c";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path47:before {
  content: "\eb3d";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path48:before {
  content: "\eb3e";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path49:before {
  content: "\eb3f";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path50:before {
  content: "\eb40";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path51:before {
  content: "\eb41";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path52:before {
  content: "\eb42";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path53:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path54:before {
  content: "\eb44";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path55:before {
  content: "\eb45";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path56:before {
  content: "\eb46";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path57:before {
  content: "\eb47";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path58:before {
  content: "\eb48";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path59:before {
  content: "\eb49";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path60:before {
  content: "\eb4a";
  margin-left: -1em;
  color: rgb(71, 71, 64);
}
.spk-time-2 .path61:before {
  content: "\eb4b";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path62:before {
  content: "\eb4c";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path63:before {
  content: "\eb4d";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path64:before {
  content: "\eb4e";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path65:before {
  content: "\eb4f";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path66:before {
  content: "\eb50";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path67:before {
  content: "\eb51";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path68:before {
  content: "\eb52";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path69:before {
  content: "\eb53";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path70:before {
  content: "\eb54";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path71:before {
  content: "\eb55";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path72:before {
  content: "\eb56";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-time-2 .path73:before {
  content: "\eb57";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.spk-time-2 .path74:before {
  content: "\eb58";
  margin-left: -1em;
  color: rgb(46, 44, 43);
  opacity: 0.3;
}
.spk-time-2 .path75:before {
  content: "\eb59";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.spk-time-2 .path76:before {
  content: "\eb5a";
  margin-left: -1em;
  color: rgb(46, 44, 43);
  opacity: 0.4;
}
.spk-time-2 .path77:before {
  content: "\eb5b";
  margin-left: -1em;
  color: rgb(205, 23, 23);
}
.spk-time-2 .path78:before {
  content: "\eb5c";
  margin-left: -1em;
  color: rgb(205, 23, 23);
}
.spk-time-2 .path79:before {
  content: "\eb5d";
  margin-left: -1em;
  color: rgb(221, 221, 221);
}
.spk-time-2 .path80:before {
  content: "\eb5e";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.spk-time-2 .path81:before {
  content: "\eb5f";
  margin-left: -1em;
  color: rgb(46, 44, 43);
}
.spk-calidad:before {
  content: "\e90d";
}
.spk-icono-vermas .path1:before {
  content: "\e90e";
  color: rgb(4, 5, 5);
}
.spk-icono-vermas .path2:before {
  content: "\e90f";
  margin-left: -0.994140625em;
  color: rgb(4, 5, 5);
}
.spk-icono-vermas .path3:before {
  content: "\e910";
  margin-left: -0.994140625em;
  color: rgb(4, 5, 5);
}
.spk-icono-vermas .path4:before {
  content: "\e911";
  margin-left: -0.994140625em;
  color: rgb(4, 5, 5);
  opacity: 0.6;
}
.spk-LOGO-02:before {
  content: "\e912";
}
.spk-expert .path1:before {
  content: "\e913";
  color: rgb(63, 63, 63);
}
.spk-expert .path2:before {
  content: "\e914";
  margin-left: -1.51953125em;
  color: rgb(63, 63, 63);
}
.spk-expert .path3:before {
  content: "\e915";
  margin-left: -1.51953125em;
  color: rgb(239, 10, 76);
}
.spk-home:before {
  content: "\e916";
}
.spk-home2:before {
  content: "\e917";
}
.spk-home3:before {
  content: "\e918";
}
.spk-office:before {
  content: "\e919";
}
.spk-newspaper:before {
  content: "\e91a";
}
.spk-pencil:before {
  content: "\e91b";
}
.spk-pencil2:before {
  content: "\e91c";
}
.spk-quill:before {
  content: "\e91d";
}
.spk-pen:before {
  content: "\e91e";
}
.spk-blog:before {
  content: "\e91f";
}
.spk-eyedropper:before {
  content: "\e920";
}
.spk-droplet:before {
  content: "\e921";
}
.spk-paint-format:before {
  content: "\e922";
}
.spk-image:before {
  content: "\e923";
}
.spk-images:before {
  content: "\e924";
}
.spk-camera:before {
  content: "\e925";
}
.spk-headphones:before {
  content: "\e926";
}
.spk-music:before {
  content: "\e927";
}
.spk-play:before {
  content: "\e928";
}
.spk-film:before {
  content: "\e929";
}
.spk-video-camera:before {
  content: "\e92a";
}
.spk-dice:before {
  content: "\e92b";
}
.spk-pacman:before {
  content: "\e92c";
}
.spk-spades:before {
  content: "\e92d";
}
.spk-clubs:before {
  content: "\e92e";
}
.spk-diamonds:before {
  content: "\e92f";
}
.spk-bullhorn:before {
  content: "\e930";
}
.spk-connection:before {
  content: "\e931";
}
.spk-podcast:before {
  content: "\e932";
}
.spk-feed:before {
  content: "\e933";
}
.spk-mic:before {
  content: "\e934";
}
.spk-book:before {
  content: "\e935";
}
.spk-books:before {
  content: "\e936";
}
.spk-library:before {
  content: "\e937";
}
.spk-file-text:before {
  content: "\e938";
}
.spk-profile:before {
  content: "\e939";
}
.spk-file-empty:before {
  content: "\e93a";
}
.spk-files-empty:before {
  content: "\e93b";
}
.spk-file-text2:before {
  content: "\e93c";
}
.spk-file-picture:before {
  content: "\e93d";
}
.spk-file-music:before {
  content: "\e93e";
}
.spk-file-play:before {
  content: "\e93f";
}
.spk-file-video:before {
  content: "\e940";
}
.spk-file-zip:before {
  content: "\e941";
}
.spk-copy:before {
  content: "\e942";
}
.spk-paste:before {
  content: "\e943";
}
.spk-stack:before {
  content: "\e944";
}
.spk-folder:before {
  content: "\e945";
}
.spk-folder-open:before {
  content: "\e946";
}
.spk-folder-plus:before {
  content: "\e947";
}
.spk-folder-minus:before {
  content: "\e948";
}
.spk-folder-download:before {
  content: "\e949";
}
.spk-folder-upload:before {
  content: "\e94a";
}
.spk-price-tag:before {
  content: "\e94b";
}
.spk-price-tags:before {
  content: "\e94c";
}
.spk-barcode:before {
  content: "\e94d";
}
.spk-qrcode:before {
  content: "\e94e";
}
.spk-ticket:before {
  content: "\e94f";
}
.spk-cart:before {
  content: "\e950";
}
.spk-coin-dollar:before {
  content: "\e951";
}
.spk-coin-euro:before {
  content: "\e952";
}
.spk-coin-pound:before {
  content: "\e953";
}
.spk-coin-yen:before {
  content: "\e954";
}
.spk-credit-card:before {
  content: "\e955";
}
.spk-calculator:before {
  content: "\e956";
}
.spk-lifebuoy:before {
  content: "\e957";
}
.spk-phone:before {
  content: "\e958";
}
.spk-phone-hang-up:before {
  content: "\e959";
}
.spk-address-book:before {
  content: "\e95a";
}
.spk-envelop:before {
  content: "\e95b";
}
.spk-pushpin:before {
  content: "\e95c";
}
.spk-location:before {
  content: "\e95d";
}
.spk-location2:before {
  content: "\e95e";
}
.spk-compass:before {
  content: "\e95f";
}
.spk-compass2:before {
  content: "\e960";
}
.spk-map:before {
  content: "\e961";
}
.spk-map2:before {
  content: "\e962";
}
.spk-history:before {
  content: "\e963";
}
.spk-clock:before {
  content: "\e964";
}
.spk-clock2:before {
  content: "\e965";
}
.spk-alarm:before {
  content: "\e966";
}
.spk-bell:before {
  content: "\e967";
}
.spk-stopwatch:before {
  content: "\e968";
}
.spk-calendar:before {
  content: "\e969";
}
.spk-printer:before {
  content: "\e96a";
}
.spk-keyboard:before {
  content: "\e96b";
}
.spk-display:before {
  content: "\e96c";
}
.spk-laptop:before {
  content: "\e96d";
}
.spk-mobile:before {
  content: "\e96e";
}
.spk-mobile2:before {
  content: "\e96f";
}
.spk-tablet:before {
  content: "\e970";
}
.spk-tv:before {
  content: "\e971";
}
.spk-drawer:before {
  content: "\e972";
}
.spk-drawer2:before {
  content: "\e973";
}
.spk-box-add:before {
  content: "\e974";
}
.spk-box-remove:before {
  content: "\e975";
}
.spk-download:before {
  content: "\e976";
}
.spk-upload:before {
  content: "\e977";
}
.spk-floppy-disk:before {
  content: "\e978";
}
.spk-drive:before {
  content: "\e979";
}
.spk-database:before {
  content: "\e97a";
}
.spk-undo:before {
  content: "\e97b";
}
.spk-redo:before {
  content: "\e97c";
}
.spk-undo2:before {
  content: "\e97d";
}
.spk-redo2:before {
  content: "\e97e";
}
.spk-forward:before {
  content: "\e97f";
}
.spk-reply:before {
  content: "\e980";
}
.spk-bubble:before {
  content: "\e981";
}
.spk-bubbles:before {
  content: "\e982";
}
.spk-bubbles2:before {
  content: "\e983";
}
.spk-bubble2:before {
  content: "\e984";
}
.spk-bubbles3:before {
  content: "\e985";
}
.spk-bubbles4:before {
  content: "\e986";
}
.spk-user:before {
  content: "\e987";
}
.spk-users:before {
  content: "\e988";
}
.spk-user-plus:before {
  content: "\e989";
}
.spk-user-minus:before {
  content: "\e98a";
}
.spk-user-check:before {
  content: "\e98b";
}
.spk-user-tie:before {
  content: "\e98c";
}
.spk-quotes-left:before {
  content: "\e98d";
}
.spk-quotes-right:before {
  content: "\e98e";
}
.spk-hour-glass:before {
  content: "\e98f";
}
.spk-spinner:before {
  content: "\e990";
}
.spk-spinner2:before {
  content: "\e991";
}
.spk-spinner3:before {
  content: "\e992";
}
.spk-spinner4:before {
  content: "\e993";
}
.spk-spinner5:before {
  content: "\e994";
}
.spk-spinner6:before {
  content: "\e995";
}
.spk-spinner7:before {
  content: "\e996";
}
.spk-spinner8:before {
  content: "\e997";
}
.spk-spinner9:before {
  content: "\e998";
}
.spk-spinner10:before {
  content: "\e999";
}
.spk-spinner11:before {
  content: "\e99a";
}
.spk-binoculars:before {
  content: "\e99b";
}
.spk-search:before {
  content: "\e99c";
}
.spk-zoom-in:before {
  content: "\e99d";
}
.spk-zoom-out:before {
  content: "\e99e";
}
.spk-enlarge:before {
  content: "\e99f";
}
.spk-shrink:before {
  content: "\e9a0";
}
.spk-enlarge2:before {
  content: "\e9a1";
}
.spk-shrink2:before {
  content: "\e9a2";
}
.spk-key:before {
  content: "\e9a3";
}
.spk-key2:before {
  content: "\e9a4";
}
.spk-lock:before {
  content: "\e9a5";
}
.spk-unlocked:before {
  content: "\e9a6";
}
.spk-wrench:before {
  content: "\e9a7";
}
.spk-equalizer:before {
  content: "\e9a8";
}
.spk-equalizer2:before {
  content: "\e9a9";
}
.spk-cog:before {
  content: "\e9aa";
}
.spk-cogs:before {
  content: "\e9ab";
}
.spk-hammer:before {
  content: "\e9ac";
}
.spk-magic-wand:before {
  content: "\e9ad";
}
.spk-aid-kit:before {
  content: "\e9ae";
}
.spk-bug:before {
  content: "\e9af";
}
.spk-pie-chart:before {
  content: "\e9b0";
}
.spk-stats-dots:before {
  content: "\e9b1";
}
.spk-stats-bars:before {
  content: "\e9b2";
}
.spk-stats-bars2:before {
  content: "\e9b3";
}
.spk-trophy:before {
  content: "\e9b4";
}
.spk-gift:before {
  content: "\e9b5";
}
.spk-glass:before {
  content: "\e9b6";
}
.spk-glass2:before {
  content: "\e9b7";
}
.spk-mug:before {
  content: "\e9b8";
}
.spk-spoon-knife:before {
  content: "\e9b9";
}
.spk-leaf:before {
  content: "\e9ba";
}
.spk-rocket:before {
  content: "\e9bb";
}
.spk-meter:before {
  content: "\e9bc";
}
.spk-meter2:before {
  content: "\e9bd";
}
.spk-hammer2:before {
  content: "\e9be";
}
.spk-fire:before {
  content: "\e9bf";
}
.spk-lab:before {
  content: "\e9c0";
}
.spk-magnet:before {
  content: "\e9c1";
}
.spk-bin:before {
  content: "\e9c2";
}
.spk-bin2:before {
  content: "\e9c3";
}
.spk-briefcase:before {
  content: "\e9c4";
}
.spk-airplane:before {
  content: "\e9c5";
}
.spk-truck:before {
  content: "\e9c6";
}
.spk-road:before {
  content: "\e9c7";
}
.spk-accessibility:before {
  content: "\e9c8";
}
.spk-target:before {
  content: "\e9c9";
}
.spk-shield:before {
  content: "\e9ca";
}
.spk-power:before {
  content: "\e9cb";
}
.spk-switch:before {
  content: "\e9cc";
}
.spk-power-cord:before {
  content: "\e9cd";
}
.spk-clipboard:before {
  content: "\e9ce";
}
.spk-list-numbered:before {
  content: "\e9cf";
}
.spk-list:before {
  content: "\e9d0";
}
.spk-list2:before {
  content: "\e9d1";
}
.spk-tree:before {
  content: "\e9d2";
}
.spk-menu:before {
  content: "\e9d3";
}
.spk-menu2:before {
  content: "\e9d4";
}
.spk-menu3:before {
  content: "\e9d5";
}
.spk-menu4:before {
  content: "\e9d6";
}
.spk-cloud:before {
  content: "\e9d7";
}
.spk-cloud-download:before {
  content: "\e9d8";
}
.spk-cloud-upload:before {
  content: "\e9d9";
}
.spk-cloud-check:before {
  content: "\e9da";
}
.spk-download2:before {
  content: "\e9db";
}
.spk-upload2:before {
  content: "\e9dc";
}
.spk-download3:before {
  content: "\e9dd";
}
.spk-upload3:before {
  content: "\e9de";
}
.spk-sphere:before {
  content: "\e9df";
}
.spk-earth:before {
  content: "\e9e0";
}
.spk-link:before {
  content: "\e9e1";
}
.spk-flag:before {
  content: "\e9e2";
}
.spk-attachment:before {
  content: "\e9e3";
}
.spk-eye:before {
  content: "\e9e4";
}
.spk-eye-plus:before {
  content: "\e9e5";
}
.spk-eye-minus:before {
  content: "\e9e6";
}
.spk-eye-blocked:before {
  content: "\e9e7";
}
.spk-bookmark:before {
  content: "\e9e8";
}
.spk-bookmarks:before {
  content: "\e9e9";
}
.spk-sun:before {
  content: "\e9ea";
}
.spk-contrast:before {
  content: "\e9eb";
}
.spk-brightness-contrast:before {
  content: "\e9ec";
}
.spk-star-empty:before {
  content: "\e9ed";
}
.spk-star-half:before {
  content: "\e9ee";
}
.spk-star-full:before {
  content: "\e9ef";
}
.spk-heart:before {
  content: "\e9f0";
}
.spk-heart-broken:before {
  content: "\e9f1";
}
.spk-man:before {
  content: "\e9f2";
}
.spk-woman:before {
  content: "\e9f3";
}
.spk-man-woman:before {
  content: "\e9f4";
}
.spk-happy:before {
  content: "\e9f5";
}
.spk-happy2:before {
  content: "\e9f6";
}
.spk-smile:before {
  content: "\e9f7";
}
.spk-smile2:before {
  content: "\e9f8";
}
.spk-tongue:before {
  content: "\e9f9";
}
.spk-tongue2:before {
  content: "\e9fa";
}
.spk-sad:before {
  content: "\e9fb";
}
.spk-sad2:before {
  content: "\e9fc";
}
.spk-wink:before {
  content: "\e9fd";
}
.spk-wink2:before {
  content: "\e9fe";
}
.spk-grin:before {
  content: "\e9ff";
}
.spk-grin2:before {
  content: "\ea00";
}
.spk-cool:before {
  content: "\ea01";
}
.spk-cool2:before {
  content: "\ea02";
}
.spk-angry:before {
  content: "\ea03";
}
.spk-angry2:before {
  content: "\ea04";
}
.spk-evil:before {
  content: "\ea05";
}
.spk-evil2:before {
  content: "\ea06";
}
.spk-shocked:before {
  content: "\ea07";
}
.spk-shocked2:before {
  content: "\ea08";
}
.spk-baffled:before {
  content: "\ea09";
}
.spk-baffled2:before {
  content: "\ea0a";
}
.spk-confused:before {
  content: "\ea0b";
}
.spk-confused2:before {
  content: "\ea0c";
}
.spk-neutral:before {
  content: "\ea0d";
}
.spk-neutral2:before {
  content: "\ea0e";
}
.spk-hipster:before {
  content: "\ea0f";
}
.spk-hipster2:before {
  content: "\ea10";
}
.spk-wondering:before {
  content: "\ea11";
}
.spk-wondering2:before {
  content: "\ea12";
}
.spk-sleepy:before {
  content: "\ea13";
}
.spk-sleepy2:before {
  content: "\ea14";
}
.spk-frustrated:before {
  content: "\ea15";
}
.spk-frustrated2:before {
  content: "\ea16";
}
.spk-crying:before {
  content: "\ea17";
}
.spk-crying2:before {
  content: "\ea18";
}
.spk-point-up:before {
  content: "\ea19";
}
.spk-point-right:before {
  content: "\ea1a";
}
.spk-point-down:before {
  content: "\ea1b";
}
.spk-point-left:before {
  content: "\ea1c";
}
.spk-warning:before {
  content: "\ea1d";
}
.spk-notification:before {
  content: "\ea1e";
}
.spk-question:before {
  content: "\ea1f";
}
.spk-plus:before {
  content: "\ea20";
}
.spk-minus:before {
  content: "\ea21";
}
.spk-info:before {
  content: "\ea22";
}
.spk-cancel-circle:before {
  content: "\ea23";
}
.spk-blocked:before {
  content: "\ea24";
}
.spk-cross:before {
  content: "\ea25";
}
.spk-checkmark:before {
  content: "\ea26";
}
.spk-checkmark2:before {
  content: "\ea27";
}
.spk-spell-check:before {
  content: "\ea28";
}
.spk-enter:before {
  content: "\ea29";
}
.spk-exit:before {
  content: "\ea2a";
}
.spk-play2:before {
  content: "\ea2b";
}
.spk-pause:before {
  content: "\ea2c";
}
.spk-stop:before {
  content: "\ea2d";
}
.spk-previous:before {
  content: "\ea2e";
}
.spk-next:before {
  content: "\ea2f";
}
.spk-backward:before {
  content: "\ea30";
}
.spk-forward2:before {
  content: "\ea31";
}
.spk-play3:before {
  content: "\ea32";
}
.spk-pause2:before {
  content: "\ea33";
}
.spk-stop2:before {
  content: "\ea34";
}
.spk-backward2:before {
  content: "\ea35";
}
.spk-forward3:before {
  content: "\ea36";
}
.spk-first:before {
  content: "\ea37";
}
.spk-last:before {
  content: "\ea38";
}
.spk-previous2:before {
  content: "\ea39";
}
.spk-next2:before {
  content: "\ea3a";
}
.spk-eject:before {
  content: "\ea3b";
}
.spk-volume-high:before {
  content: "\ea3c";
}
.spk-volume-medium:before {
  content: "\ea3d";
}
.spk-volume-low:before {
  content: "\ea3e";
}
.spk-volume-mute:before {
  content: "\ea3f";
}
.spk-volume-mute2:before {
  content: "\ea40";
}
.spk-volume-increase:before {
  content: "\ea41";
}
.spk-volume-decrease:before {
  content: "\ea42";
}
.spk-loop:before {
  content: "\ea43";
}
.spk-loop2:before {
  content: "\ea44";
}
.spk-infinite:before {
  content: "\ea45";
}
.spk-shuffle:before {
  content: "\ea46";
}
.spk-arrow-up-left:before {
  content: "\ea47";
}
.spk-arrow-up:before {
  content: "\ea48";
}
.spk-arrow-up-right:before {
  content: "\ea49";
}
.spk-arrow-right:before {
  content: "\ea4a";
}
.spk-arrow-down-right:before {
  content: "\ea4b";
}
.spk-arrow-down:before {
  content: "\ea4c";
}
.spk-arrow-down-left:before {
  content: "\ea4d";
}
.spk-arrow-left:before {
  content: "\ea4e";
}
.spk-arrow-up-left2:before {
  content: "\ea4f";
}
.spk-arrow-up2:before {
  content: "\ea50";
}
.spk-arrow-up-right2:before {
  content: "\ea51";
}
.spk-arrow-right2:before {
  content: "\ea52";
}
.spk-arrow-down-right2:before {
  content: "\ea53";
}
.spk-arrow-down2:before {
  content: "\ea54";
}
.spk-arrow-down-left2:before {
  content: "\ea55";
}
.spk-arrow-left2:before {
  content: "\ea56";
}
.spk-circle-up:before {
  content: "\ea57";
}
.spk-circle-right:before {
  content: "\ea58";
}
.spk-circle-down:before {
  content: "\ea59";
}
.spk-circle-left:before {
  content: "\ea5a";
}
.spk-tab:before {
  content: "\ea5b";
}
.spk-move-up:before {
  content: "\ea5c";
}
.spk-move-down:before {
  content: "\ea5d";
}
.spk-sort-alpha-asc:before {
  content: "\ea5e";
}
.spk-sort-alpha-desc:before {
  content: "\ea5f";
}
.spk-sort-numeric-asc:before {
  content: "\ea60";
}
.spk-sort-numberic-desc:before {
  content: "\ea61";
}
.spk-sort-amount-asc:before {
  content: "\ea62";
}
.spk-sort-amount-desc:before {
  content: "\ea63";
}
.spk-command:before {
  content: "\ea64";
}
.spk-shift:before {
  content: "\ea65";
}
.spk-ctrl:before {
  content: "\ea66";
}
.spk-opt:before {
  content: "\ea67";
}
.spk-checkbox-checked:before {
  content: "\ea68";
}
.spk-checkbox-unchecked:before {
  content: "\ea69";
}
.spk-radio-checked:before {
  content: "\ea6a";
}
.spk-radio-checked2:before {
  content: "\ea6b";
}
.spk-radio-unchecked:before {
  content: "\ea6c";
}
.spk-crop:before {
  content: "\ea6d";
}
.spk-make-group:before {
  content: "\ea6e";
}
.spk-ungroup:before {
  content: "\ea6f";
}
.spk-scissors:before {
  content: "\ea70";
}
.spk-filter:before {
  content: "\ea71";
}
.spk-font:before {
  content: "\ea72";
}
.spk-ligature:before {
  content: "\ea73";
}
.spk-ligature2:before {
  content: "\ea74";
}
.spk-text-height:before {
  content: "\ea75";
}
.spk-text-width:before {
  content: "\ea76";
}
.spk-font-size:before {
  content: "\ea77";
}
.spk-bold:before {
  content: "\ea78";
}
.spk-underline:before {
  content: "\ea79";
}
.spk-italic:before {
  content: "\ea7a";
}
.spk-strikethrough:before {
  content: "\ea7b";
}
.spk-omega:before {
  content: "\ea7c";
}
.spk-sigma:before {
  content: "\ea7d";
}
.spk-page-break:before {
  content: "\ea7e";
}
.spk-superscript:before {
  content: "\ea7f";
}
.spk-subscript:before {
  content: "\ea80";
}
.spk-superscript2:before {
  content: "\ea81";
}
.spk-subscript2:before {
  content: "\ea82";
}
.spk-text-color:before {
  content: "\ea83";
}
.spk-pagebreak:before {
  content: "\ea84";
}
.spk-clear-formatting:before {
  content: "\ea85";
}
.spk-table:before {
  content: "\ea86";
}
.spk-table2:before {
  content: "\ea87";
}
.spk-insert-template:before {
  content: "\ea88";
}
.spk-pilcrow:before {
  content: "\ea89";
}
.spk-ltr:before {
  content: "\ea8a";
}
.spk-rtl:before {
  content: "\ea8b";
}
.spk-section:before {
  content: "\ea8c";
}
.spk-paragraph-left:before {
  content: "\ea8d";
}
.spk-paragraph-center:before {
  content: "\ea8e";
}
.spk-paragraph-right:before {
  content: "\ea8f";
}
.spk-paragraph-justify:before {
  content: "\ea90";
}
.spk-indent-increase:before {
  content: "\ea91";
}
.spk-indent-decrease:before {
  content: "\ea92";
}
.spk-share:before {
  content: "\ea93";
}
.spk-new-tab:before {
  content: "\ea94";
}
.spk-embed:before {
  content: "\ea95";
}
.spk-embed2:before {
  content: "\ea96";
}
.spk-terminal:before {
  content: "\ea97";
}
.spk-share2:before {
  content: "\ea98";
}
.spk-mail:before {
  content: "\ea99";
}
.spk-mail2:before {
  content: "\ea9a";
}
.spk-mail3:before {
  content: "\ea9b";
}
.spk-mail4:before {
  content: "\ea9c";
}
.spk-amazon:before {
  content: "\ea9d";
}
.spk-google:before {
  content: "\ea9e";
}
.spk-google2:before {
  content: "\ea9f";
}
.spk-google3:before {
  content: "\eaa0";
}
.spk-google-plus:before {
  content: "\eaa1";
}
.spk-google-plus2:before {
  content: "\eaa2";
}
.spk-google-plus3:before {
  content: "\eaa3";
}
.spk-hangouts:before {
  content: "\eaa4";
}
.spk-google-drive:before {
  content: "\eaa5";
}
.spk-facebook:before {
  content: "\eaa6";
}
.spk-facebook2:before {
  content: "\eaa7";
}
.spk-instagram:before {
  content: "\eaa8";
}
.spk-whatsapp:before {
  content: "\eaa9";
}
.spk-spotify:before {
  content: "\eaaa";
}
.spk-telegram:before {
  content: "\eaab";
}
.spk-twitter:before {
  content: "\eaac";
}
.spk-vine:before {
  content: "\eaad";
}
.spk-vk:before {
  content: "\eaae";
}
.spk-renren:before {
  content: "\eaaf";
}
.spk-sina-weibo:before {
  content: "\eab0";
}
.spk-rss:before {
  content: "\eab1";
}
.spk-rss2:before {
  content: "\eab2";
}
.spk-youtube:before {
  content: "\eab3";
}
.spk-youtube2:before {
  content: "\eab4";
}
.spk-twitch:before {
  content: "\eab5";
}
.spk-vimeo:before {
  content: "\eab6";
}
.spk-vimeo2:before {
  content: "\eab7";
}
.spk-lanyrd:before {
  content: "\eab8";
}
.spk-flickr:before {
  content: "\eab9";
}
.spk-flickr2:before {
  content: "\eaba";
}
.spk-flickr3:before {
  content: "\eabb";
}
.spk-flickr4:before {
  content: "\eabc";
}
.spk-dribbble:before {
  content: "\eabd";
}
.spk-behance:before {
  content: "\eabe";
}
.spk-behance2:before {
  content: "\eabf";
}
.spk-deviantart:before {
  content: "\eac0";
}
.spk-500px:before {
  content: "\eac1";
}
.spk-steam:before {
  content: "\eac2";
}
.spk-steam2:before {
  content: "\eac3";
}
.spk-dropbox:before {
  content: "\eac4";
}
.spk-onedrive:before {
  content: "\eac5";
}
.spk-github:before {
  content: "\eac6";
}
.spk-npm:before {
  content: "\eac7";
}
.spk-basecamp:before {
  content: "\eac8";
}
.spk-trello:before {
  content: "\eac9";
}
.spk-wordpress:before {
  content: "\eaca";
}
.spk-joomla:before {
  content: "\eacb";
}
.spk-ello:before {
  content: "\eacc";
}
.spk-blogger:before {
  content: "\eacd";
}
.spk-blogger2:before {
  content: "\eace";
}
.spk-tumblr:before {
  content: "\eacf";
}
.spk-tumblr2:before {
  content: "\ead0";
}
.spk-yahoo:before {
  content: "\ead1";
}
.spk-yahoo2:before {
  content: "\ead2";
}
.spk-tux:before {
  content: "\ead3";
}
.spk-appleinc:before {
  content: "\ead4";
}
.spk-finder:before {
  content: "\ead5";
}
.spk-android:before {
  content: "\ead6";
}
.spk-windows:before {
  content: "\ead7";
}
.spk-windows8:before {
  content: "\ead8";
}
.spk-soundcloud:before {
  content: "\ead9";
}
.spk-soundcloud2:before {
  content: "\eada";
}
.spk-skype:before {
  content: "\eadb";
}
.spk-reddit:before {
  content: "\eadc";
}
.spk-hackernews:before {
  content: "\eadd";
}
.spk-wikipedia:before {
  content: "\eade";
}
.spk-linkedin:before {
  content: "\eadf";
}
.spk-linkedin2:before {
  content: "\eae0";
}
.spk-lastfm:before {
  content: "\eae1";
}
.spk-lastfm2:before {
  content: "\eae2";
}
.spk-delicious:before {
  content: "\eae3";
}
.spk-stumbleupon:before {
  content: "\eae4";
}
.spk-stumbleupon2:before {
  content: "\eae5";
}
.spk-stackoverflow:before {
  content: "\eae6";
}
.spk-pinterest:before {
  content: "\eae7";
}
.spk-pinterest2:before {
  content: "\eae8";
}
.spk-xing:before {
  content: "\eae9";
}
.spk-xing2:before {
  content: "\eaea";
}
.spk-flattr:before {
  content: "\eaeb";
}
.spk-foursquare:before {
  content: "\eaec";
}
.spk-yelp:before {
  content: "\eaed";
}
.spk-paypal:before {
  content: "\eaee";
}
.spk-chrome:before {
  content: "\eaef";
}
.spk-firefox:before {
  content: "\eaf0";
}
.spk-IE:before {
  content: "\eaf1";
}
.spk-edge:before {
  content: "\eaf2";
}
.spk-safari:before {
  content: "\eaf3";
}
.spk-opera:before {
  content: "\eaf4";
}
.spk-file-pdf:before {
  content: "\eaf5";
}
.spk-file-openoffice:before {
  content: "\eaf6";
}
.spk-file-word:before {
  content: "\eaf7";
}
.spk-file-excel:before {
  content: "\eaf8";
}
.spk-libreoffice:before {
  content: "\eaf9";
}
.spk-html-five:before {
  content: "\eafa";
}
.spk-html-five2:before {
  content: "\eafb";
}
.spk-css3:before {
  content: "\eafc";
}
.spk-git:before {
  content: "\eafd";
}
.spk-codepen:before {
  content: "\eafe";
}
.spk-svg:before {
  content: "\eaff";
}
.spk-IcoMoon:before {
  content: "\eb00";
}
