<div class="we-create-area">
    <div class="container">
        <h2 class="title-page type2 ">Lista de servicios Técnologicos


        </h2>
    </div>
</div>
<div class="we-create-area ">
	<div class="container datos-table">
		
		<div class="cont-titulo">
			<div class="titulo-productos">
				<div class="titleitem">item</div>
				<div class="titleitem">Código</div>
				<div class="titleitem">Precio</div>
				<div class="titleitem">Detalles</div>
			</div>
			<div class="titulo-alquiler">
				<div class="titulo-alquiler-header">
					<div class="titleitem">Prestaciones Tecnológicas mensuales</div>
					
					</div>
				<div class="titleitem">Alquiler Producto</div>
				<div class="titleitem">Soporte</div>
				<div class="titleitem">Administración y envio</div>
				<div class="titleitem">Alojamiento</div>
			</div>
			<div class="titulo-cantidad">
				<div class="titleitem">Cantidad de cp permitido</div>
							</div>
			<div class="verdetalle">
				<div class="titleitem">
Alquiler
				</div>
				
			</div>
		</div>
		
		
	</div>
</div>
<div class="cont_Aquiler"></div>
