

<!-- Footer Start-->
<div class="footer-main" data-background="assets/img/footer_bg.png">
    <div class="footer-area">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class=" col-md-3 ">
                    <div class="single-footer-caption mb-50" >
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">  <h5><span style="color:#FFD100">Spk</span>Tecnología</h5></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Con más de 10 años brindando soluciones informáticas.</p>
                                    <p class="info2">Horario de Trabnajo: 9am-5pm</p>
                                </div>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5 " >
                    <div class="single-footer-caption ">
                        <div class="footer-tittle">
                            <h5>OFICINAS</h5>
                            <ul>
                                <li>Jr. General Cordova Nro. 1021 - Jesus Maria - Lima</li>
                                <li>Jr. 28 de julio Nro. 602 - Huancayo - Junin</li>
                                <li>Tel: 964939685</li>
                                <li>Tel: 064657165</li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h5>CERTIFICADO POR SUNAT </h5>
                           <img src="assets/img/certificado.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservado a  <a href="index.html">  <h5><span style="color:#FFD100">Spk</span>Tecnología</h5></a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->