

<!-- Footer Start-->
<div class="footer-main" data-background="assets/img/footer_bg.png">
    <div class="footer-area">
        <div class="container">
            <div class="row ">
                <div class=" col-md-4 ">
                    <div class="single-footer-caption " >
                        <div class="single-footer-caption ">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">  <h5><span style="color:#FFD100">Spk</span>Tecnología</h5></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Con más de 10 años brindando soluciones informáticas.</p>
                                    <p class="info2">Horario de Trabajo: 9am-5pm</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 " >
                    <div class="single-footer-caption ">
                        <div class="footer-tittle ">
                            <h5 class="text-center">OFICINAS</h5>
                            <ul class="text-center">
                                <li >Jr. General Cordova Nro. 1021 - Jesus Maria - Lima</li>
                                <li>Jr. 28 de julio Nro. 602 - Huancayo - Junin</li>
                                <li>Tel: 964939685</li>
                                <li>Tel: 064657165</li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 ">
                    <div class="single-footer-caption">
                        <div class="footer-tittle text-center">
                            <h5>CERTIFICADO POR SUNAT </h5>
                           <img src="assets/img/certificado.png" alt="">
                        </div>
                        <br/>
                        <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center justify-content-center">
                    
                        <div class="footer-copy-right text-center">
                            <p class="text-center">
                              
                                <script>document.write(new Date().getFullYear());</script> 
                                Todos los derechos reservado a  
                                <h5><span style="color:#FFD100">Spk</span>Tecnología</h5>
                              
                            </p>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->