<div class="banner-container">
    <div class="banner guest-banner"><img alt="" class="img-1" src="assets/img/burguer.webp"><img alt="" class="img-2"
            src="assets/img/fashion.webp"><img alt="" class="img-3" src="assets/img/markets.webp"><img alt=""
            class="img-4" src="assets/img/mrs.webp">
        <!---->
        <!---->
        <!---->
        <!---->
        <div class="title">
            <h1 class="bold" style="font-size: 40px;">Pide en supermercados, restaurantes y mucho más.
                <!---->
            </h1>
            <!---->
        </div>
    </div>
    <div class="banner-search">
       
          
              
                    <form class="search">
                        <div class="cont-input">
                            <button  type="submit" class="search-button2" id="btn-search1" disabled>
                        	<i class="spk-search"></i>
                        </button>
                       
                        <input type="text" maxlength="125" id="search-input2"
                                class="search-input2"
                                placeholder="Busca cualquier producto" autocomplete="off">
                                  <div  id="match-list"></div>
                        </div>
                   
                      
                        <button  class="search-results-button"   id="btn-search" disabled > Buscar

                        </button>
                       	  
                    </form>
              
          
      
    </div>
    <!---->
    <!---->
    <!----><img alt="" class="img-5" src="assets/img/pharmacy.webp"><img alt="" class="img-6"
        src="assets/img/sports.webp">
    <!---->
    <!---->
</div>





