<div class="faq-container">
    <div class="faq-head">
        <h4 class="secondary-title"> FAQ </h4>
        <h2 class="primary-title"> ¿Cuál aplicación debo usar para pedir comida? </h2>
    </div>
    <p class="faq-description"> Con una rutina cada vez más ocupada, a veces hay poco tiempo para pensar en el menú de
        la semana o el plato del día. ¡Rappi reúne los mejores restaurantes de tu ciudad! Encuentra desde platos rápidos
        hasta alternativas saludables. Recibe tu pedido rápidamente y ten la seguridad de nuestra garantía de calidad en
        la entrega. </p>
</div>
<div class="badges-card-container ng-star-inserted">
    <h2 class="title"> Otras ciudades </h2>
    <div class="badge-row">
        <a class="badge ng-star-inserted" href="/chiclayo"> Chiclayo </a>
        <a class="badge ng-star-inserted" href="/cusco"> Cusco </a>
        <a class="badge ng-star-inserted" href="/trujillo"> Trujillo </a>
        <a class="badge ng-star-inserted" href="/arequipa"> Arequipa </a>
        <a class="badge ng-star-inserted" href="/lima"> Lima </a>
        <a class="badge ng-star-inserted" href="/piura"> Piura </a>
        <a class="badge ng-star-inserted" href="/asia"> Asia </a>
        <!---->
    </div>
</div>