<div  class="home-badges-card with-margin">
    <div  class="with-margin items-app">
       
            <div  class="items">
                <div  class="item">
                    <div  class="img">
                      
                            <i class="spk-clock"></i>
                            </div>
                    <div  class="description">
                        <h2  class="title">Ahorra tiempo</h2>
                        <h4  class="text">Recibe tu mercado en menos de 1 hora</h4>
                    </div>
                </div>
                <div  class="item">
                    <div  class="img">
                        <i class="spk-heart"></i>
                        </div>
                    <div  class="description">
                        <h2  class="title">En manos expertas</h2>
                        <h4  class="text">Un shopper selecciona tus productos con amor</h4>
                    </div>
                </div>
                <div  class="item">
                    <div  class="img"><i 
                            class="spk-calidad"></i></div>
                    <div  class="description">
                        <h2  class="title">Calidad 100%</h2>
                        <h4  class="text">Si no te gusta el estado de un producto, ¡no lo
                            pagas!</h4>
                    </div>
                </div>
                <!---->
            </div>
            <!---->
    
    </div>
   
        <div class="download-card">
            <div class="download-card-content">
                <div class="info">
                    <h2 class="title"> Disfruta una mejor experiencia descargando la app
                    </h2>
                    <div class="redirects"><a target="_blank"
                            class="redirect-download ios"
                            href="https://itunes.apple.com/co/app/rappi/id984044296?mt=8"><img
                                alt="app-store-img" class="ios-img"
                                src="https://images.rappi.com/web/apple-store_app-store-es.svg"></a><a
                            target="_blank" class="redirect-download android"
                            href="https://play.google.com/store/apps/details?id=com.grability.rappi"><img
                                alt="play-store-img" class="android-img"
                                src="https://images.rappi.com/web/play-store_play-store-es.png"></a></div>
                </div>
                <div class="effect">
                   <img
                            src="https://images.rappi.com/web/cities/app_3d@3x.png" alt="app-image-url"
                            title="app-image-url" class="  ng-lazyloaded">
                </div>
            </div>
        </div>
  
</div>