<div class="cpgs-container">
    <h4 class="subtitle"> Consigue lo que necesitas </h4>
    <h2 class="title"> Nuestras tiendas </h2>
    <ul class="cpgs-grid">
        <li class="store-item">  
          <a class="cpg-card" title="Restaurantes" href="empresas.html">
                    <div class="cpg-img-container" style="background-color: rgb(251, 211, 205);"><img
                            src="https://images.rappi.pe/new_store_type/restaurant_1607959376137.jpg?d=200x200&amp;e=webp">
                    </div>
                    <h4 class="cpg-title"> Restaurantes </h4>
                </a>    
        </li>

        <li class="store-item">
                <a class="cpg-card" title="Supermercados" href="/tiendas/tipo/market">
                    <div class="cpg-img-container" style="background-color: rgb(237, 242, 202);"><img
                            src="https://images.rappi.pe/new_store_type/market_1607959399599.jpg?d=200x200&amp;e=webp">
                    </div>
                    <h4 class="cpg-title"> Supermercados </h4>
                </a>
          
        </li>
        <li class="store-item">
                <a class="cpg-card" title="Rappi Mall" href="/tiendas/tipo/rappimall-parent">
                    <div class="cpg-img-container" style="background-color: rgb(231, 198, 233);"><img
                            src="https://images.rappi.pe/new_store_type/rappimall_parent_1607959419704.jpg?d=200x200&amp;e=webp">
                    </div>
                    <h4 class="cpg-title"> Rappi Mall </h4>
                </a>
        </li>

        <li class="store-item">
                <a class="cpg-card" title="Express" href="/tiendas/tipo/express-big">
                    <div class="cpg-img-container" style="background-color: rgb(243, 221, 180);"><img
                            src="https://images.rappi.pe/new_store_type/express_big-1598710478.png?d=200x200&amp;e=webp">
                    </div>
                    <h4 class="cpg-title"> Express </h4>
                </a>
        </li>

        <li class="store-item">
                <a class="cpg-card" title="Farmacia" href="/tiendas/tipo/farmacia">
                    <div class="cpg-img-container" style="background-color: rgb(188, 235, 243);"><img
                            src="https://images.rappi.pe/new_store_type/farmacia-1598710542.png?d=200x200&amp;e=webp">
                    </div>
                    <h4 class="cpg-title"> Farmacia </h4>
                </a>
        </li>    
        
          <a class="cpg-card vermas" title="Ver más Tiendas"  rel="cont/vermas.html"  id="btnModal">
                <div class="cpg-icon-container">
                   <i class="spk-icono-vermas"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                </div>
                <h4 class="cpg-title"> Ver más </h4>
            </a>
           
    </ul>
</div>