
  <form action="" class="form">
    <div class="modal-body " >
      <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Usuario">
      </div>
      <div class="input-contenedor">
        <i class="fas fa-lock icon"></i>
        <input type="password" placeholder="Contraseña">
      </div>
      <p><a class="link" href="#"> Olvidaste la contraseña?</a></p>
    
    </div>
    <div class="modal-footer">
     
      <button type="button" class="btn " data-dismiss="modal">cerrar</button>
      <button type="button" class="btn ">guardar</button>
    </div>
         
    </form>  

      
     