<form action="" class="form">
<div class="modal-body " >
  <div class="form-header">
    <h3 class="form-title"></h3>
  </div>
<div class="input-contenedor">
 <i class="fas fa-user icon"></i>
  <input type="text" placeholder="Ruc Emisor:">
 </div>

 <div class="input-contenedor">
   <i class="far fa-address-book icon"></i>
    <input type="text" placeholder="Ruc Receptor:">
   </div>
 <div class="input-contenedor ">

   <i class="fas fa-file-word icon"></i>
             <select  class="select-fact"  placeholder="Ruc Receptor:" >
   
    <option value="">Factura</option>
    <option value="">Boleta</option>
    <option value="">Nota de credito</option>
    <option value="">Guia de remisión</option>
  </select>
 </div>
 <div class="input-contenedor">
   <i class="fas fa-th icon"></i>
    <input type="text" placeholder="Serie:">
   </div>
 
   <div class="input-contenedor">
     <i class="fas fa-th icon"></i>
      <input type="text" placeholder="Numero:">
     </div>
    

</div>
<div class="modal-footer">
 
  <button type="button" class="btn " data-dismiss="modal">cerrar</button>
  <button type="button" class="btn ">guardar</button>
</div>
     
</form>    
     
     
     
     
         
        
         
      

      
