
      <div class="contenedor">
         <form action="" class="form">
           <div class="form-header">
             <h3 class="form-title"></h3>
           </div>
         <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
           <input type="text" placeholder="Nombre completo">
          </div>

          <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
           <input type="email" placeholder="Correo electronico">
          </div>

            <div class="input-contenedor">
              <i class="fas fa-lock icon"></i>
           <input type="password" placeholder="Password">
           </div>

           <input type="submit" class="btn-submit" value="REGISTRATE">

           <p>Al regitrarte, aceptas nuestras condiciones de uso y politica de privacidad.</p>
           <p>¿Ya tienes una cuenta?<a class="link" href="#"> Iniciar Sesion</a></p>
         </form>
        
        
      </div>
     