<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{>partials/link/css}}

</head>

<body>

   {{>partials/preloader}}

    <header>
        <!-- Header Start -->
        {{> partials/navigation}}
        <!-- Header End -->
    </header>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area "  id="inicio">
            {{> partials/slider}}
        </div>



        <!-- Slider Area End-->
        <!-- What We do start-->

        <section class="page2" id="facturacion" >  
     
         {{> partials/soluciones/facturacion}}         
        </section>
           

        <section class="page3" id="comercial">
             {{> partials/soluciones/comercial}}        
        </section>
         <section class="page4" id="transporte">
             {{> partials/soluciones/transporte}}        
        </section>
         <section class="page-cliente" id="cliente">
             {{> partials/cliente}}        
        </section>
 <section>
            {{>partials/ventana}}
        </section>
        
    </main>
   

    <footer>

        {{> partials/pie}}

    </footer>

    {{>partials/link/js}}
      
   

</body>

</html>