<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{>partials/link/css}}

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logotipo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        {{> partials/navigation}}
        <!-- Header End -->
    </header>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area "  id="inicio">
            {{> partials/slider}}
        </div>



        <!-- Slider Area End-->
        <!-- What We do start-->

        <section class="page2" id="facturacion" >  
     
         {{> partials/soluciones/facturacion}}         
        </section>
           

        <section class="page3" id="comercial">
             {{> partials/soluciones/comercial}}        
        </section>
         <section class="page4" id="transporte">
             {{> partials/soluciones/transporte}}        
        </section>
         <section class="page-cliente" id="cliente">
             {{> partials/cliente}}        
        </section>
        <section>
            
            {{> partials/consultas/clientesPse}}
        </section>
    </main>
    <footer>

        {{> partials/pie}}

    </footer>

    {{>partials/link/js}}

</body>

</html>