<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{>partials/link/css}}

</head>

<body>

      {{>partials/preloader}}


    <header>
        <!-- Header Start -->
        {{> partials/navigation}}
        <!-- Header End -->
    </header>

    <main>
<section   class="page-productos"  >
{{>partials/listaprecios  }}
</section>

  
           

  {{!-- llamado a la ventana modal --}}
        <section>
            {{>partials/ventana}}
        </section>
  
  
      
    </main>
    <footer>

        {{> partials/pie}}

    </footer>

    {{>partials/link/js}}

</body>

</html>